/* ApplicantData.css */

.table-container {
  margin: 20px;
}

.table-container h2 {
  font-size: 24px;
}

.table-container .table {
  width: 50%;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-collapse: collapse;
}

.table-container th {
  padding: 8px;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  text-align: center;
  width: 30%;
}

.table-container td {
  padding: 8px;
  border: 1px solid #ddd;
  width: 1000px;
}

.table-container .dropdown {
  position: relative;
  display: inline-block;
}

.table-container .dropdown-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.table-container .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.table-container .dropdown-content span {
  padding: 12px 16px;
  display: block;
  cursor: pointer;
}

.table-container .dropdown-content span:hover {
  background-color: #ddd;
}

.table-container .dropdown:hover .dropdown-content {
  display: block;
}

.table-container button {
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
}


.save-button {
  width: 20%;
}


.dropdown{
  margin: 0;
  
  margin-right: 20px;
}

.main-con{
  display: flex;
  justify-content: center;
  width: 100%;
}

.status {
  font-weight: bold;
}

.status-accepted {
  color: green;
}

.status-rejected {
  color: red;
}

.status-in-review {
  color: blue;
}
